<h1>{{ recipe.name | uppercase }}</h1>

<img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-header mb-3">

<div class="d-flex flex-row-reverse mb-3">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            appDropdown>
      Manage Recipe
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <ng-container *ngIf="isAuthenticated()">
        <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
        <a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a>
      </ng-container>
      <a class="dropdown-item" (click)="onAddToShoppingList()">To Shopping list</a>
    </div>
  </div>
</div>

<h3 class="mt-3">Ingredients</h3>

<ul class="list-group my-3">
  <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
    {{ ingredient.ingredientName }} - {{ ingredient.ingredientAmount }}
  </li>
</ul>

{{ recipe.description }}
