<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" formControlName="displayName">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <button class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>
</div>

