/* You can add global styles to this file, and also import other style files */
.btn:disabled,.btn-primary:disabled {
  background-color: lightgrey;
  border-color: dimgrey;
  color: dimgrey;
  cursor: not-allowed;
}
